p I am currently studying both Mathematics and Computer Science at Oregon State University. In my free time, I play with iOS development as well as both front-end and back-end web development.

p My skills include:

ul
  li Thorough understanding of HTML5 and CSS3 with SASS
  li Experience with JavaScript/jQuery as well as several related MVC frameworks (Backbone.js, Angular.js)
  li Experience with JavaScript-based visualization techniques using d3.v3.js and three.js
  li Node.js, including Express 4, Jade, Socket.IO, and Mongoose (this site is running on Node.js!)
  li SQL
  li PHP
  li Objective-C and Swift (iOS Development)
  li Java
  li C++
  li Python, including Django
  li Git and SVN
  li A knack for UI design

p
  | You can check out my github page
  a(href="https://github.com/cezarywojcik")  here
  | .

p
  | You can also check out my
  a(href="/gallery")  gallery
  |  to see apps and other projects that I've worked on.
