p I am an iOS Developer, but I also dabble with all sorts of web technologies and anything else that seems for or interesting. I like to write code and words.  

p
  | You can check out my github page
  a(href="https://github.com/cezarywojcik")  here
  | .

p
  | You can also check out my
  a(href="/gallery")  gallery
  |  to see apps and other projects that I've worked on.
