div.article
  div.article-title.
    #{article.title}
  hr
  div.article-content
    div.article-time.
      #{article.timecreated}
    | !{article.content}
    if article.blogpost
      div.article-footer ~
  div.clearfix
