title CezaryWojcik.com - #{title}
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="shortcut icon", type="image/png", href="/img/apple-touch-icon-ipad.png")
link(rel="apple-touch-icon" href="/img/apple-touch-icon.png")
link(rel="stylesheet", media="screen", href="/css/style.css")
