input[type=text] {
  background-color: #ccc;
  border: thin solid #474747;
  width: 250px;

  &:focus {
    background-color: #fff;
  }
}

input[type=submit] {
  background-color: #ccc;
  border: thin solid #474747;
  font-family: Georgia;
  padding: 5px 15px 5px 15px;

  &:hover {
    background-color: #fff;
    border-color: #990012;
    cursor: pointer;
    @include box-shadow(0, 1px, 5px, rgba($red, 0.5));
  }
}

textarea {
  background-color: #ccc;
  border: thin solid #474747;
  width: 99%;

  &:focus {
    background-color: #fff;
  }
}

textarea:focus, input:focus {
  border-color: #990012;
  outline: 0 none;
  @include box-shadow(0, 1px, 5px, rgba($red, 0.5));
}
