div.article
  div.test.
    Fuck
  div.article-title.
    #{article.title}
  div.article-content.
    div.article-time.
      #{article.timecreated}
    #{article.content}
  .#{article.nav}
  div.clearfix
