extends layout

block content
  for post in posts
    div.article
      div.article-title.
        #{post.title}
      hr
      div.article-content
        div.article-time #{post.date}
        div
          p !{post.excerpt}
          a(href=post.url) Read More ...
  div.leftbox.article
    h1.article-title
      a(href="/about") About Me
    hr
    div.article-content.
      To find out more about me, cick the link above.
  div.rightbox.article
    h1.article-title
      a(href="/contact") Contact Me
    hr
    div.article-content.
      If you want to contact me about anything, please click the link above.
  div.clearfix
