doctype html
html(lang="en")
  head
    include partials/head
    block head
  body
    div.page
      div.header
        div.title Cezary Wojcik
        div.subtitle Student, Web Developer, iOS Developer
        ul.navigation
          li
            a(href="/") Home
          li
            a(href="/blog") Blog
          li
            a(href="/about") About
          li
            a(href="/contact") Contact
          li
            a(href="/gallery") Gallery
        div.content
          block content
        div.footer
          div.left-footer
          div.right-footer
            | &#169; 2014 Cezary Wojcik
          div.clearfix

